<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default" style="background-image: url({{saison.bgimage}}); min-height: 550px">
      <div class="col-lg-4">
        <img ng-src="{{mannequin.image}}">
      </div>
      <div class="col-lg-8">
        <div class="row" style="background-image: url('../images/armoire-bg.jpg'); margin-top: 20px;">
          <strong>Sous Vêtements</strong>
          <div ng-repeat="sousvetement in sousvetements">
            <div class="col-lg-2">
              <img class="navbar-brand" style="padding: 0.5px 32px;" ng-src="{{sousvetement.image}}">
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('../images/armoire-bg.jpg');">
          <strong>Hauts</strong>
          <div ng-repeat="haut in hauts">
            <div class="col-lg-2">
              <img class="navbar-brand" style="padding: 0.5px 32px;" ng-src="{{haut.image}}">
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('../images/armoire-bg.jpg'); ">
          <strong>Bas</strong>
          <div ng-repeat="ba in bas">
            <div class="col-lg-2">
              <img class="navbar-brand" style="padding: 0.5px 32px;" ng-src="{{ba.image}}">
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('../images/armoire-bg.jpg'); ">
          <strong>Vests</strong>
          <div ng-repeat="vest in vests">
            <div class="col-lg-2">
              <img class="navbar-brand" style="padding: 0.5px 32px;" ng-src="{{vest.image}}">
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('../images/armoire-bg.jpg');">
          <strong>Chaussures</strong>
          <div ng-repeat="ch in chaussures">
            <div class="col-lg-2">
              <img class="navbar-brand" style="padding: 0.5px 32px;" ng-src="{{ch.image}}">
            </div>
          </div>
        </div>

        <div class="row" style="background-image: url('../images/armoire-bg.jpg');">
          <strong>Sccessoires</strong>
          <div ng-repeat="accessoire in accessoires">
            <div class="col-lg-2">
              <img class="navbar-brand" style="padding: 0.5px 32px;" ng-src="{{accessoire.image}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
