<div class="row">
  <div class="col-lg-1 col-xs-4 col-md-2">
    <div class="thumbnail">
      <img src="../images/question.png" alt="...">
    </div>
  </div>
  <div class="col-lg-11 col-xs-8 col-md-10">
    <h2 class="text-capitalize">comment pouvez-vous bien vous habillez?</h2>
  </div>
</div>

<div class="row ">
    <div class="col-lg-12">
      <div class="col-md-offset-3 col-md-6">
        <h4 class="text-capitalize">choisir un mode suivant de jeux pour vous entraîner</h4>
        <a href="/#/saison" class="btn btn-block btn-success">Saison</a>
        <a href="/#/meteo" class="btn btn-block btn-info">Météo</a>
        <a href="/#/evenement" class="btn btn-block btn-default">Evénement</a>
      </div>

    </div>
</div>
